@media (max-width: 1400px) {}

@media (max-width: 1200px) {}

@media (max-width: 1024px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {

    .nav .container {
        min-height: 40px;
    }
    
    .nav__img {
        gap: 10px;
    }

        .nav__img-link {
            font-size: 20px;
        }

                .form__btn-icon {
                    font-size: 20px;
                }

}

@media (max-width: 576px) {

    .nav__form-btn-span {
        display: none;
    }

}

@media (max-width: 488px) {}

@media (max-width: 320px) {}