@import '../styles/font.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1530px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

body {
    background: rgb(75, 75, 75);    
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.back {
    opacity: 0.7;
    font-size: 26px;
    color: aliceblue;
    display: flex;
    align-items: center;
}

header {
    position: relative;
}

.nav {
    top: 0;
    position: fixed;
    z-index: 99;
    width: 100%;
    padding: 5px 0;
    background: rgb(56, 56, 56);
}

.hspan {
    /* margin-top: 300px; */
    width: 100%;
    height: 2px;
    background: #fff;
    display: block;
    margin: 20px 0;
}

.nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
}

.nav__title {
    color: rgb(255, 196, 47);
    font-family: roboto;
font-size: 40px;
font-weight: 700;
line-height: 23px;
letter-spacing: 0px;
}

.nav__img {
    display: flex;
        gap: 20px;
        align-items: center;
        justify-content: center ;
}

.nav__img-link {    
font-size: 25px;
font-weight: 400;
color: rgb(255, 255, 255);

}

.form__btn-icon {
    font-size: 27px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    
}

.nav__form-btn {
    background: none;
    border: none;
    outline: none;
    font-size: 16px;
    align-items: center;
    display: flex;
    font-weight: 400;
    color: rgb(255, 255, 255);
}

.nav__img-link {
    font-family: roboto;
    font-size: 25px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    background: none;
    border: none;

}

.header__section {
    margin-top: 90px;
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(2, 1fr);
gap: 10px;
}

.header__section-img {
    height: 400px;
    object-fit: cover;
}

.header__section_card1 {
    background: url(images/men/t2-2.jpg) no-repeat center /cover;
    position: relative;
    width: 100%;
    height: 400px;
    grid-column: 2 span;
    grid-row: 1 span;
}.header__section_card2 {
    background: url(images/men/t4-2.jpg) no-repeat center /cover;
    position: relative;
    width: 100%;
    height: 400px;
    grid-column: 1 span;
    grid-row: 1 span;
}.header__section_card3 {
    background: url(images/men/tp1-2.jpg) no-repeat center /cover;
    position: relative;
    width: 100%;
    height: 400px;
    grid-column: 1 span;
    grid-row: 1 span;
}.header__section_card4 {

    background: url(images/men/6-4.jpg) no-repeat center /cover;
    position: relative;
    width: 100%;
    height: 400px;
    grid-column: 1 span;
    grid-row: 1 span;
}.header__section_card5 {
    background: url(images/men/t1-1.jpg) no-repeat center /cover;
    position: relative;
    width: 100%;
    height: 400px;
    grid-column: 1 span;
    grid-row: 1 span;
}.header__section_card6 {
    background: url(images/men/t3.jpg) no-repeat center /cover;
    position: relative;
    width: 100%;
    height: 400px;
    grid-column: 2 span;
    grid-row: 1 span;
}

.header__lcard-img-txt1 {
    position: absolute;
    bottom: 18px;
    left: 22px;
    width: 220px;
    height: 40px;
    color: #FFF;
    background: rgb(56, 56, 56);
    display: flex;
    align-items: center;
    justify-content: center;
font-family: sans;
font-size: 25px;
font-weight: 400;

}
.header__lcard-img-txt2 {
    position: absolute;
        color: #FFF;
    background: rgb(56, 56, 56);
    display: flex;
    align-items: center;
    justify-content: center;
font-family: sans;
font-size: 25px;
font-weight: 400;
left: 15px;
bottom: 65px;
width: 140px;
height: 40px;
}
.header__lcard-img-txt3 {
    position: absolute;
        color: #FFF;
    background: rgb(56, 56, 56);
    display: flex;
    align-items: center;
    justify-content: center;
font-family: sans;
font-size: 25px;
font-weight: 400;
height: 40px;
right: 13px;
bottom: 15px;
width: 160px;
}
.header__lcard-img-txt4 {
    position: absolute;
        color: #FFF;
    background: rgb(56, 56, 56);
    display: flex;
    align-items: center;
    justify-content: center;
font-family: sans;
font-size: 25px;
font-weight: 400;
height: 50px;
width: 140px;
transform: rotate(-50.615deg);
right: 15px;
bottom: 50px;

}
.header__lcard-img-txt5 {
    position: absolute;
        color: #FFF;
    background: rgb(56, 56, 56);
    display: flex;
    align-items: center;
    justify-content: center;
font-family: sans;
font-size: 25px;
font-weight: 400;
height: 50px;
width: 140px;
right: 17px;
top: 17px;
}
.header__lcard-img-txt6 {
    position: absolute;
        color: #FFF;
    background: rgb(56, 56, 56);
    display: flex;
    align-items: center;
    justify-content: center;
font-family: sans;
font-size: 25px;
font-weight: 400;
height: 50px;
width: 140px;
left: 30px;
bottom: 52px;
transform: rotate(34.725deg);
}

/*  */
/*  */
/*  */

.section1 {
    padding: 0 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.section1__card {
    position: relative;
    width: 24%;
    display: flex;
    flex-direction: column;
        background: rgb(56, 56, 56);
        padding: 10px 20px;
}

.section1__img {
    height: 480px;
    object-fit: cover;
}

.section1-title {
    margin-top: 50px;
    color: rgb(255, 196, 47);
    
        font-family: roboto;
        font-size: 54px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
}

.section1__card-icon {
    font-size: 30px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    top: 10px;
    opacity: 0.7;
    transition: .4s;
}

.section1__card-icon:hover {
opacity: 1;
font-size: 38px;
    background: rgb(119, 119, 119);
        color: #FFF;
}

.section1__card-uzs {
    color: rgb(255, 196, 47);
    font-variant-numeric: lining-nums tabular-nums;
    font-family: sans;
    font-size: 24px;
    font-weight: 700;
    padding-top: 10px;
}

.section1__card_texts {
    display: flex;
    justify-content: space-between;
}

.section1__card-icon2 {
        font-size: 30px;
            width: 60px;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #fff;
            border-radius: 50%;
            position: absolute;
            right: 10px;
            top: 80px;
            opacity: 0.7;
            transition: .4s;
}

 .section1__card-icon2:hover {
    opacity: 1;
        font-size: 38px;
            background: rgb(119, 119, 119);
                color: #FFF;
 }


 .section2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 20px;
 }

 .section2__card {
    position: relative;
    height: 450px;
    width: 100%;
    grid-column: 1 span;
    grid-row: 1 span;
    display: flex;
    justify-content: center;
    background: darkgray;;
    padding: 15px;
    transition: .1s;
 }

 .section2__card:hover {
    background: rgb(214, 214, 214);
 }

 .section2__card-img {
    height: 300px;
    max-width: 300px;
    width: 100%;
    margin-bottom: 30px;
 }

 .section2__card-xl {
        color: #000;
            font-family: sans;
            font-size: 22px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-transform: uppercase;
            margin-bottom: 20px;
 }

 .section2__card-uzs {
        color: #323232;
            font-family: sans;
            font-size: 22px;
            font-style: normal;
            font-weight: 400;
            line-height: 23px;
            text-transform: uppercase;
 }

 .section__card-like {
    position: absolute;
    bottom: 10px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
 }

 .card__like-like {

     font-size: 24px;
     /* width: 50px; */
     /* min-height: 50px; */
     border-radius: 10px;
     background: #FFF;
     padding: 13px;
     transition: .2s;
     color: #000;

 }

 .card__like-like:hover {
     background: rgb(119, 119, 119);
     color: #FFF;
     /* border: 1px solid black; */
 }












 /* FOOTER */
 /* FOOTER */
 /* FOOTER */
 /* FOOTER */
 /* FOOTER */


 footer {
     position: relative;
     background: #323232;
     margin-top: 30px;
 }

 footer .container {
    flex-wrap: wrap;
    column-gap: 30px;
     display: flex;
     justify-content: space-between;
     padding: 60px 15px;
 }

 .footer__links {
     display: flex;
     flex-direction: column;
     gap: 15px;
 }

 .footer__link-title {
     margin-bottom: 15px;
     color: rgb(255, 196, 47);
     font-family: sans;
     font-size: 32px;
     font-weight: 700;
     text-transform: uppercase;
 }

 .footer__links-link {
     color: #FFF;
     font-family: sans;
     font-size: 20px;
     font-weight: 400;
     transition: .2s;
 }

 .footer__links-link:hover {
     text-decoration: underline;

     color: rgb(255, 196, 47);
 }

 .Link-title2 {
     margin-bottom: 20px;
     color: rgb(255, 196, 47);
     font-family: sans;
     font-size: 22px;
     font-style: normal;
     font-weight: 400;
     line-height: normal;
     letter-spacing: 2.2px;
     text-transform: uppercase;
 }

 .phone__footer {
     display: flex;
     gap: 10px;
     align-items: center;
 }

 .footer__links-icon {
     font-size: 30px;
     margin-right: -10px;
     color: #FFF;
 }

 .footer__links-link-gmail {
     font-size: 30px;
     color: #FFF;
 }

 .footer__links-link-gmail-li {
     display: flex;
     align-items: center;
 }

 .footer__links-link-location-li {
     display: flex;
     align-items: center;
 }

 .footer__links-link-location {
     font-size: 30px;
     color: #FFF;
 }

 .footer__links-img {
     margin-top: 10px;
     color: #FFF;
     font-family: sans;
     font-size: 22px;
     line-height: normal;
     font-variant: all-small-caps;
     letter-spacing: 2.5px;
 }

 .links__imgs-img {
     font-size: 47px;
     padding: 5px;
     background: #FFF;
     color: #000;
     border-radius: 50%;
     transition: .3s;
 }

 .links__imgs-img:hover {
     background: rgb(255, 196, 47);
     color: #fff;
 }

 .footer__links-imgs {
     display: flex;
     gap: 15px;
 }
 
 .footer__my {
    display: flex;
    gap: 30px;
 }
 
 .footer__my-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
 }
 
 .footer__my-texts {
    display: flex;
    flex-direction: column;
    gap: 20px;
 }
 
 .footer__my-text {
    max-width: 230px;
    width: 100%;
    color: #FFF;
    font-family: sans;
    font-size: 20px;
    font-weight: 400;
 }
 
 .footer__my-link {
    color: rgb(255, 196, 47);
    font-family: sans;
    font-size: 25px;
    font-weight: 700;
 }
 
 .footer__my-link::after {
    content: '';
    margin-top: 5px;
    width: 170px;
    height: 3px;
    background: rgb(255, 196, 47);
    display: block;
    border-radius: 5px;
    transform: scaleX(0);
    transition: .3s;
 }
 
 .footer__my-link:hover::after {
    transform: scaleX(1);
 }
