@import '../styles/font.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1530px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

body {
    background: rgb(75, 75, 75);    
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.back {
    opacity: 0.7;
    font-size: 26px;
    color: aliceblue;
    display: flex;
    align-items: center;
}

header {
    position: relative;
}

.nav {
    top: 0;
    position: fixed;
    z-index: 99;
    width: 100%;
    padding: 5px 0;
    background: rgb(56, 56, 56);
}

.hspan {
    /* margin-top: 300px; */
    width: 100%;
    height: 2px;
    background: #fff;
    display: block;
    margin: 20px 0;
}

.nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
}

.nav__title {
    color: rgb(255, 196, 47);
    font-family: roboto;
font-size: 40px;
font-weight: 700;
line-height: 23px;
letter-spacing: 0px;
}

.nav__img {
    display: flex;
        gap: 20px;
        align-items: center;
        justify-content: center ;
}

.nav__img-link {    
font-size: 25px;
font-weight: 400;
color: rgb(255, 255, 255);

}

.form__btn-icon {
    font-size: 27px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    
}

.nav__form-btn {
    background: none;
    border: none;
    outline: none;
    font-size: 16px;
    align-items: center;
    display: flex;
    font-weight: 400;
    color: rgb(255, 255, 255);
}

.nav__img-link {
    font-family: roboto;
    font-size: 25px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    background: none;
    border: none;

}

.header__section {
    margin-top: 90px;
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(2, 1fr);
gap: 10px;
position: relative;
}

.header__section-img {
    height: 400px;
}

.header__section-img1 {
    width: 100%;
    object-fit: cover;
    grid-column: 2 span;
    grid-row: 1 span;
}.header__section-img2 {
    width: 100%;
    object-fit: cover;
    grid-column: 1 span;
    grid-row: 1 span;
}.header__section-img3 {
    width: 100%;
    object-fit: cover;
    grid-column: 1 span;
    grid-row: 1 span;
}.header__section-img4 {
    width: 100%;
    object-fit: cover;
    grid-column: 1 span;
    grid-row: 1 span;
}.header__section-img5 {
    width: 100%;
    object-fit: cover;
    grid-column: 1 span;
    grid-row: 1 span;
}.header__section-img6 {
    width: 100%;
    object-fit: cover;
    grid-column: 2 span;
    grid-row: 1 span;
}


/* .header__section .container {
    display: flex;
    gap: 30px;
    align-items: center;
} */

/* .header__left-card {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 50%;
    position: relative;
}

.header__rigth-card {
        display: flex;
            flex-direction: column;
            gap: 30px;
            width: 50%;
            position: relative;
}

.hleft__card-card {
    display: flex;
    justify-content: space-between;
}

.header__lcard-img {
    max-width: 745px;
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.hleft__card-img {
    max-width: 357px;
    width: 100%;
}

.header__lcard-img-txt {
    position: absolute;
    top: 40%;
    left: 70px;
        color: rgb(255, 196, 47);
        text-align: center;
        font-family: sans;
        font-size: 25px;
        font-weight: 400;

        width: 205px;
            height: 52px;
            transform: rotate(2.185deg);
            flex-shrink: 0;
                background: rgb(56, 56, 56);
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 20px 5px ;
}

.hleft__card-card-txt1 {
    position: absolute;
    color: rgb(255, 196, 47);
        text-align: center;
        font-family: sans;
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        background: rgb(56, 56, 56);
        width: 105px;
            height: 55px;
            transform: rotate(-60deg);
            top: 85%;
            left: 240px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px 20px;
}

.hleft__card-card-txt2 {
    position: absolute;
        color: rgb(255, 196, 47);
            text-align: center;
            font-family: sans;
            font-size: 25px;
            font-style: normal;
            font-weight: 400;
            background: rgb(56, 56, 56);
            width: 130px;
                height: 40px;
                transform: rotate(2.048deg);
                            display: flex;
                                align-items: center;
                                justify-content: center;
                                border-radius: 5px 20px;
                                top: 56%;
                                left: 600px;
}

.hleft__card-img-txt1 {
    position: absolute;
    color: rgb(255, 196, 47);
        text-align: center;
        font-family: sans;
        font-size: 25px;
        font-weight: 400;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 162px;
            height: 55px;
            transform: rotate(-1deg);
            flex-shrink: 0;
            background: rgb(56, 56, 56);
            border-radius: 10px 15px;
            top: 2%;
            left: 180px;
}

.hleft__card-img-txt2 {
        position: absolute;
            color: rgb(255, 196, 47);
            text-align: center;
            font-family: sans;
            font-size: 25px;
            font-weight: 400;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 184.113px;
                height: 53.097px;
                transform: rotate(0.38deg);
                flex-shrink: 0;
            flex-shrink: 0;
            background: rgb(56, 56, 56);
            border-radius: 10px 15px;
            top: 38%;
            left: 530px;
}

.header__lcard-img-txt2 {
    position: absolute;
            color: rgb(255, 196, 47);
                text-align: center;
                font-family: sans;
                font-size: 25px;
                font-weight: 400;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 184.113px;
                height: 53.097px;
                transform: rotate(0.38deg);
                flex-shrink: 0;
                flex-shrink: 0;
                background: rgb(56, 56, 56);
                bottom: 8%;
                transform: rotate(45deg);
} */

/*  */
/*  */
/*  */

.section1 {
    padding: 0 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.section1__card {
    position: relative;
    width: 24%;
    display: flex;
    flex-direction: column;
        background: rgb(56, 56, 56);
        padding: 10px 20px;
}

.section1__img {
    height: 480px;
    object-fit: cover;
}

.section1-title {
    margin-top: 50px;
    color: rgb(255, 196, 47);
    
        font-family: roboto;
        font-size: 54px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
}

.section1__card-icon {
    font-size: 30px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    top: 10px;
    opacity: 0.7;
    transition: .4s;
}

.section1__card-icon:hover {
opacity: 1;
font-size: 38px;
color: rgb(255, 196, 47);
}

.section1__card-uzs {
    color: rgb(255, 196, 47);
    font-variant-numeric: lining-nums tabular-nums;
    font-family: sans;
    font-size: 24px;
    font-weight: 700;
    padding-top: 10px;
}

.section1__card_texts {
    display: flex;
    justify-content: space-between;
}

.section1__card-icon2 {
        font-size: 30px;
            width: 60px;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #fff;
            border-radius: 50%;
            position: absolute;
            right: 10px;
            top: 80px;
            opacity: 0.7;
            transition: .4s;
}

 .section1__card-icon2:hover {
    opacity: 1;
        font-size: 38px;
        color: rgb(255, 196, 47);
 }















 /* FOOTER */
 /* FOOTER */
 /* FOOTER */
 /* FOOTER */
 /* FOOTER */


 footer {
     position: relative;
     background: #323232;
     margin-top: 30px;
 }

 footer .container {
     display: flex;
     justify-content: space-between;
     padding: 60px 15px;
 }

 .footer__links {
     display: flex;
     flex-direction: column;
     gap: 15px;
 }

 .footer__link-title {
     margin-bottom: 15px;
     color: #FFF;
     font-family: sans;
     font-size: 32px;
     font-weight: 700;
     text-transform: uppercase;
 }

 .footer__links-link {
     color: #FFF;
     font-family: sans;
     font-size: 20px;
     font-weight: 400;
     transition: .2s;
 }

 .footer__links-link:hover {
     text-decoration: underline;

     color: rgb(255, 196, 47);
 }

 .Link-title2 {
     margin-bottom: 20px;
     color: #FFF;
     font-family: sans;
     font-size: 22px;
     font-style: normal;
     font-weight: 400;
     line-height: normal;
     letter-spacing: 2.2px;
     text-transform: uppercase;
 }

 .phone__footer {
     display: flex;
     gap: 10px;
     align-items: center;
 }

 .footer__links-icon {
     font-size: 30px;
     margin-right: -10px;
     color: #FFF;
 }

 .footer__links-link-gmail {
     font-size: 30px;
     color: #FFF;
 }

 .footer__links-link-gmail-li {
     display: flex;
     align-items: center;
 }

 .footer__links-link-location-li {
     display: flex;
     align-items: center;
 }

 .footer__links-link-location {
     font-size: 30px;
     color: #FFF;
 }

 .footer__links-img {
     margin-top: 10px;
     color: #FFF;
     font-family: sans;
     font-size: 22px;
     line-height: normal;
     font-variant: all-small-caps;
     letter-spacing: 2.5px;
 }

 .links__imgs-img {
     font-size: 47px;
     padding: 5px;
     background: #FFF;
     color: #000;
     border-radius: 50%;
     transition: .3s;
 }

 .links__imgs-img:hover {
     background: rgb(255, 196, 47);
     color: #fff;
 }

 .footer__links-imgs {
     display: flex;
     gap: 15px;
 }