@import 'font.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background: rgb(75, 75, 75);
}

.hspan {
    margin: 10px 0;
    display: flex;
    width: 100%;
    height: 3px;
    background: #fff;
}

.container {
    max-width: 1530px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.nav__title {
    color: rgb(255, 196, 47);
    font-family: roboto;
font-size: 40px;
font-weight: 700;
line-height: 23px;
letter-spacing: 0px;
}

.spant {
    margin-top: 40px;
}


.img__uzb-title {
    display: none !important;
}

.header__section {
    padding-top: 30px;
}

.titleh {
    padding-top: 20px;
}

/* .header__section .container {
    display: flex;
    gap: 30px;
} */

.header__section .container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
}

.header__section-card1 {

    grid-column: 2 span;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background: beige;
    border-radius: 10px;
    height: 100%;
    padding: 15px;
    gap: 10px;
}

.header__section-card2 {
    grid-column: 3 span;
    grid-row: 2 span;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background: beige;
    border-radius: 10px;
    height: 100%;
    padding: 15px;
    gap: 10px;
}

.header__section-card3 {
    grid-column: 2 span;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background: beige;
    border-radius: 10px;
    height: 100%;
    padding: 15px;
    gap: 10px;
}

.header__section-card1:hover .left__card-link {
    font-size: 30px;
    background: rgb(255, 196, 47);
    font-family: roboto;
    font-weight: 700;
    color: #000;
}

.header__section-card3:hover .left__card-link {
    font-size: 30px;
    background: rgb(255, 196, 47);
    font-family: roboto;
    font-weight: 700;
    color: #000;
}

.header__section-imgs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.header__section-imgs2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
}

.left__card-img {
    max-width: 250px;
    border: 1px solid black;
    width: 100%;
}

.right__card-img {
    max-width: 250px;
    height: 100%;
    border: 1px solid black;
    width: 100%;
}

.left__card-img-none {
    display: none;
}


.nav {
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100%;
    padding: 5px 0;
    background: rgb(56, 56, 56);
}

.nav__toggle {
    display: none;
}

header {
    margin-bottom: 50px;
}

.nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__links {
    display: flex;
    gap: 10px;
}

.header__nav-ul {
    display: flex;
}

.nav__img {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center ;
}

.img__uzb {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.header__nav-ul {
    justify-content: space-between;
}

.img__uzb-title {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 15px;
    font-family: roboto;
    font-size: 17px;
    border-top: 2px solid rgb(39, 39, 39);
    width: 100%;
}

.img__link {
    margin-right: 10px;
    background: none;
    border: none;
}

.nav__links-link {

    color: rgb(255, 196, 47);
    font-family: roboto;
font-size: 20px;
font-weight: 400;
/* padding: 30px 20px; */
width: 110px;
height: 70px;
display: inline-flex ;
align-items: center;
justify-content: center;
transition: 0.3s;
filter: drop-shadow(6px 6px 15px rgba(132, 132, 132, 0.30));

}

.nav__rus {
    display: none;
}


.nav__links-link:hover {
    background: rgb(255, 196, 47);
    color: black;
    font-size: 22px;
    font-weight: 700;
}

.nav__img-link {
    font-family: roboto;
font-size: 25px;
font-weight: 400;
color: rgb(255, 255, 255);
background: none;
border: none;

}




.left__card-img {
    max-width: 250px;
    width: 100%;
    height: 100%;

}

.left__card-sub {
    color: #000;
font-family: sans;
font-size: 30px;
font-style: normal;
font-weight: 400;
}

.left__card-imgs {
    display: flex;
}

.left__card-link {
    font-family: sans;
    font-weight: 400;
    border-radius: 70px;
    border: 1px solid black;
    /* padding: 10px 40px; */
    max-width: 200px;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size: 25px;
    background: grey;
    transition: .2s;
}



.header__section_left {
    row-gap: 30px   ;
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}




.section_right_card {
    padding: 10px;
}

.right__card-sub {
    color: #000;
    font-family: sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
}


.rigt__card-link {
    max-width: 200px;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans;
    font-weight: 400;
    border-radius: 70px;
    border: 1px solid black;
    color: rgb(255, 255, 255);
    font-size: 25px;
    background: grey;
    transition: .2s;
}

.header__section-card2:hover .rigt__card-link {
    font-size: 30px;
    background: rgb(255, 196, 47);
    font-family: roboto;
    font-weight: 700;
    color: #000;
}

/* MAIN */
/* MAIN */
/* MAIN */
/* MAIN */
/* MAIN */
/* MAIN */

main {
    margin-top: 40px;
}

.main__title {
    margin-top: 50px;
    margin-bottom: 10px;
     text-align: center;
     color: rgb(255, 196, 47);
font-family: roboto;
font-size: 45px;
font-weight: 400;
letter-spacing: 2.2px;
text-transform: uppercase;

}

.section {
    gap: 20px;
    justify-content:center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.s__card_theme-img {
    height: 220px;
    transition: .3s ;
    max-width: 220px;
    width: 100%;
    object-fit: contain;
}

.section__card {
    position: relative;
    overflow: hidden;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    width: 100%;
    height: 400px;
    background: darkgray;
    transition: 0.2s;
    padding: 10px;
}

.section__card:hover {
    background: rgb(214, 214, 214);
}


.nav__title2 {
    display: none;
    margin: 10px 0;
}

.section__card:hover .s__card_theme-img {
z-index: 99;
max-width: 250px;
width: 100%;
height: 240px;
}

.section__card:hover .section__card-like {
    right: 20px;
    z-index: 100;
}

.section__card-like {
    position: absolute;
    right: -60px;
    transition: .2s;
    gap: 20px;
    display: flex;
    flex-direction: column;
    top: 20px;
}


.section__card:hover .theme__link-none {
    font-size: 24px;
    font-weight: 700;
}

.section__card-subtitle {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 100px;
height: 40px;
border-radius: 10px;
background: #323232;
color: #FFF;
font-family: sans;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: capitalize;
display: flex;
align-items: center;
justify-content: center;
}

/* .section__card_theme-links3 {
    color: #000;
    width: 100px;
    height: 30px;
    background: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin:  0 auto;
    font-family: sans;
    transition: .3s;
    text-transform: uppercase;
}

.section__card_theme-links3:hover {
    background: black;
    color: #FFF;
} */

.section__card:hover .section__card-subtitle {
    background: #1c1b1b;
}

.section__card-subtitle-n {
    display: none;
}

.section__card-theme {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
    /* margin-top: 70px;
    margin-left: -20px; */
}

.section__card_theme-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section__card_theme-link1 {
    color: #000;
font-family: sans;
font-size: 22px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
}

.section__card_theme-link {
    color: #323232;
font-family: sans;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 23px; /* 115% */
text-transform: uppercase;
}

.card__like {

    font-size: 24px;
    /* width: 50px; */
/* min-height: 50px; */
border-radius: 10px;
background: #FFF;
padding: 13px;
transition: .2s;
color: #000;

}

.section2__text {
    font-size: 22px;
    color: aliceblue;
    font-family: roboto;
    margin-bottom: 30px;
}

.card__like:hover {
    background: rgb(119, 119, 119);
    color: #FFF;
    /* border: 1px solid black; */
}

.section2__theme-txt1 {
    margin: 20px 0;
    color: #FFF;
    font-family: sans;
    font-size: 24px;
    font-weight: 400;
    line-height: 27px;
}

.section2__theme-title {
    color: #FFF;
    font-family: sans;
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
}

.section2__title-texts {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 15px;
    margin-bottom: 40px;
}

.section2__title-text {
    color: #f2dcff;
    font-weight: 400;
    font-family: sans;
    list-style: disc;
    font-size: 18px;
}

 
 .section3 .container {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 6px;
    margin-bottom: 50px;
 }

 .section3__card {
    width: 100%;
 }
 
 .section3__card1-text {
    color: azure;
font-family: roboto;
font-size: 18px;
font-weight: 400;

 }

 .section3__card1-link {
    font-size: 24px;
    font-family: roboto;
    font-weight: 700;
    color: #b4d5e2;
 }

 
 .section3__card1 {
    grid-column: 2 span;
 }
 
 .section3__card1-img {
    max-width: 400px;
    width: 100%;
 }
 
 .section3__card2 {
    grid-column: 2 span;
    grid-row: 2 span;
    object-fit: cover;
    width: 100%;
 }
 
 .section3__card3 {
    grid-column: 1 span;
 }
 .section3__card4 {
    grid-column: 1 span;
 }
 .section3__card5 {
    grid-column: 1 span;
 }
 .section3__card6 {
    grid-column: 1 span;
    
 }
 .section3__card7 {
    grid-column: 2 span;
    position: relative;
 }
 
 .section3__card-2-tag {
color: rgb(0, 6, 116);
    padding-left: 30px;
    font-size: 40px;
    font-family: sans;
 }

 .google__map-txt {
    position: absolute;
    font-size: 16px;
    font-family: roboto;
    font-weight: 400;
    color: #fff;
    z-index: 99;
    right: 10px;
    top: 20px;
    background: #000;
    transform: rotate(10deg);
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 150px;
    width: 100%;
    height: 40px;
 }
 
 .section3__card-2-text {
    font-size: 20px;
    font-family: roboto;
    padding-left: 100px;
    width: 100%;
 }

 .google__map {
    width: 100%;
    border: none;
    min-height: 100%;
 }







/* FOOTER */
/* FOOTER */
/* FOOTER */
/* FOOTER */
/* FOOTER */


footer {
    position: relative;
    background: #323232;
}

footer .container {
    /* position: relative; */
    display: flex;
    justify-content: space-between;
    padding: 60px 15px;
}

.footer__s .container {
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 10px;
}

.footer__s-txt {
    color: #FFF;
    font-family: roboto;
}

.footer__ul {
    flex-wrap: wrap;
    display: flex;
    column-gap: 30px;
    align-items: center;
    justify-content: center;
    row-gap: 5px;
}

.footer__links {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer__link-title {
    margin-bottom: 15px;
    color: #FFF;
font-family: sans;
font-size: 32px;
font-weight: 700;
text-transform: uppercase;
}

.footer__links-link {
    color: #FFF;
font-family: sans;
font-size: 20px;
font-weight: 400;
transition: .2s;
}

.footer__links-link:hover {
    text-decoration: underline;
    
    color: rgb(255, 196, 47);
}

.Link-title2 {
    margin-bottom: 20px;
    color: #FFF;
font-family: sans;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 2.2px;
text-transform: uppercase;
}

.phone__footer {
    display: flex;
    gap: 10px;
    align-items: center;
}

.footer__links-icon {
    font-size: 30px;
    margin-right: -10px;
    color: #FFF;
}

.footer__links-link-gmail {
    font-size: 30px;
    color: #FFF;
}

.footer__links-link-gmail-li {
    display: flex;
    align-items:center;
}

.footer__links-link-location-li {
    display: flex;
    align-items:center;
}

.footer__links-link-location {
    font-size: 30px;
    color: #FFF;
}

.footer__links-img {
    margin-top: 10px;
    color: #FFF;
font-family: sans;
font-size: 22px;
line-height: normal;
font-variant: all-small-caps;
letter-spacing: 2.5px;
}

.links__imgs-img {
    font-size: 47px;
    padding: 5px;
    background: #FFF;
    color: #000;
    border-radius: 50%;
    transition: .3s;
}

.links__imgs-img:hover {
    background: rgb(255, 196, 47);
    color: #fff;
}

.footer__links-imgs {
    display: flex;
    gap: 15px;
}

.footer__admin {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 30px;
    color: bisque;
}

.footer__admin-link {
    font-size: 25px;
    color: rgb(255, 208, 99);
}


 
.footer__my {
    display: flex;
    gap: 30px;
 }
 
 .footer__my-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
 }
 
 .footer__my-texts {
    display: flex;
    flex-direction: column;
    gap: 20px;
 }
 
 .footer__my-text {
    max-width: 230px;
    width: 100%;
    color: #FFF;
    font-family: sans;
    font-size: 20px;
    font-weight: 400;
 }
 
 .footer__my-link {
    color: rgb(255, 196, 47);
    font-family: sans;
    font-size: 25px;
    font-weight: 700;
 }
 
 .footer__my-link::after {
    content: '';
    margin-top: 5px;
    width: 155px;
    height: 3px;
    background: rgb(255, 196, 47);
    display: block;
    border-radius: 5px;
    transform: scaleX(0);
    transition: .3s;
 }
 
 .footer__my-link:hover::after {
    transform: scaleX(1);
 }

 .footer__s {
    width: 100%;
    min-height: 60px;
display: flex;
    background: #393838;
 }
 
 .footer_-nav {
    background: #fff;
    font-size: 30px;
    border-radius: 50%;
 }

  .footer__btn {
      position: absolute;
      right: 260px;
      bottom: 460px;
      border-radius: 50%;
      outline: none;
      border: none;
  }